* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* SLIDER COMPONENT */

.slider__slides-container {
  border: 2px solid #4e4e4e;
  overflow: hidden;
}

.slider__slides {
  display: flex;
  transition: transform 0.5s;
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.slider__arrow-btn {
  font-size: 20px;
  background: none;
  border: none;
}

.slider__shortcut-btns {
  display: flex;
  align-items: center;
}

.slider__shortcut-btn {
  margin: 0 5px;
  border-radius: 50%;
  font-size: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

.slider__shortcut-btn--active {
  background: #4e4e4e;
}

/* USER SLIDE COMPONENT */

.user-slider {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.user-slide {
  border: 10px solid white;
  text-align: center;
  padding: 20px;
  background: whitesmoke;
}

.user-slide__img {
  border-radius: 50%;
}

/* SPINNER */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #333;
  animation: spinner 1s linear infinite;
}
